# Virtual Environments
venv/
env/
.env

# Python caches
__pycache__/
*.pyc
*.pyo

# Testing
.pytest_cache/

# IDE files
.vscode/
.idea/

# Node.js
node_modules/
package-lock.json
package.json

# Artifacts
artifact-results/
report.html
